name: Release

on:
  workflow_dispatch:
  release:
    types: published
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Configure Java 8 and generate a settings.xml file containing the OSSRH credentials
      - name: Set up Maven Central Repository
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "8"
          server-id: ossrh
          server-username: OSSRH_USERNAME
          server-password: OSSRH_PASSWORD
          gpg-private-key: ${{ secrets.OSSRH_GPG_PRIVATE_KEY }}
          gpg-passphrase: OSSRH_GPG_PASSPHRASE

      - name: Install JFrog CLI
        run: curl -fL https://install-cli.jfrog.io | sh

      - name: Configure JFrog Platform
        run: |
          ./jf c add internal --url=${{ secrets.ECOSYS_URL }} --user=${{ secrets.ECOSYS_USER }} --password=${{ secrets.ECOSYS_APIKEY }}
          ./jf c use internal

      - name: Scan with jf audit
        run: jf audit

      # Run mvn install
      - name: Install
        run: mvn install -B

      # Deploy to Maven Central
      - name: Deploy to Maven Central
        run: mvn -B deploy -Pupload-to-central
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          OSSRH_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
